.contact-us__title {
  color: #0f0e08;
  text-align: left;
  margin: 0;
  font-family: IBM Plex Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contact-us__list {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}

.contact-us__link {
  color: #0f0e08;
  text-align: left;
  font-family: IBM Plex Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  transition: color .3s;
}

.contact-us__link:hover {
  color: #f14a27;
}

.event-card {
  flex-direction: column;
  padding-bottom: 60px;
  display: flex;
}

@media (width >= 768px) {
  .event-card {
    padding-bottom: 64px;
  }
}

@media (width >= 1280px) {
  .event-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
    padding-bottom: 104px;
  }
}

.event-card__img {
  transition: transform .3s;
}

@media (width >= 1280px) {
  .event-card__img {
    width: 57%;
    display: block;
  }
}

.event-card__img:hover {
  transform: scale(1.1);
}

@media (width >= 1280px) {
  .event-card__content {
    grid-column: 10 / 13;
  }
}

.event-card__subtitle {
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
  margin-top: 20px;
  display: flex;
}

@media (width >= 768px) {
  .event-card__subtitle {
    margin-top: 40px;
  }
}

.event-card__type {
  text-transform: uppercase;
  text-align: left;
  color: #687480;
  font-family: IBM Plex Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@media (width >= 768px) {
  .event-card__type {
    font-size: 14px;
    line-height: 14px;
  }
}

.event-card__time {
  text-align: left;
  color: #1a5a4c;
  font-family: IBM Plex Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@media (width >= 768px) {
  .event-card__time {
    font-size: 14px;
    line-height: 21px;
  }
}

.event-card__title {
  text-align: left;
  color: #0f0e08;
  width: max-content;
  margin: 10px 0 0;
  padding: 0;
  font-family: Montserrat, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  position: relative;
}

@media (width >= 768px) {
  .event-card__title {
    margin-top: 30px;
    font-size: 36px;
    line-height: 36px;
  }
}

.event-card__title:before {
  content: "";
  background-color: #f14a27;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  right: -20px;
}

@media (width >= 768px) {
  .event-card__title:before {
    width: 15px;
    height: 15px;
    right: -30px;
  }
}

.event-card__description {
  text-align: left;
  color: #4e4e4e;
  max-width: 460px;
  padding: 10px 0 0;
  font-family: IBM Plex Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

@media (width >= 768px) {
  .event-card__description {
    padding-top: 15px;
  }
}

.event-lecture {
  background-image: url("lecture.9af7b3f8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px;
  position: relative;
}

@media (width >= 768px) {
  .event-lecture {
    margin-top: 48px;
    height: 390px;
    margin-inline: 20px;
  }
}

@media (width >= 1280px) {
  .event-lecture {
    height: 550px;
    margin: 0;
  }
}

.event-lecture__content {
  box-sizing: border-box;
  background-color: #fff;
  flex-direction: column;
  gap: 20px;
  width: 280px;
  height: 140px;
  padding-block: 20px;
  display: flex;
  position: absolute;
  bottom: -83px;
  left: calc(50% - 140px);
  box-shadow: 0 2px #1a5a4c40;
}

@media (width >= 768px) {
  .event-lecture__content {
    gap: 16px;
    width: 570px;
    height: 204px;
    padding: 45px 140px 50px 55px;
    bottom: -120px;
    left: calc(50% - 285px);
  }
}

@media (width >= 1280px) {
  .event-lecture__content {
    bottom: -102px;
  }
}

.event-lecture__title {
  text-align: left;
  color: #0f0e08;
  margin: 0;
  padding: 0;
  font-family: Montserrat, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  position: relative;
}

@media (width >= 768px) {
  .event-lecture__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.event-lecture__subtitle {
  justify-content: space-between;
  align-items: center;
  padding-inline: 21px;
  display: flex;
}

@media (width >= 768px) {
  .event-lecture__subtitle {
    padding-inline: 0;
  }
}

.event-lecture__type {
  text-transform: uppercase;
  text-align: left;
  color: #687480;
  font-family: IBM Plex Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@media (width >= 768px) {
  .event-lecture__type {
    font-size: 14px;
    line-height: 14px;
  }
}

.event-lecture__time {
  text-align: left;
  color: #1a5a4c;
  font-family: IBM Plex Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@media (width >= 768px) {
  .event-lecture__time {
    font-size: 14px;
    line-height: 21px;
  }
}

.events__content {
  flex-direction: column;
  display: flex;
}

.events__title {
  text-align: center;
  color: #0f0e08;
  margin-bottom: 40px;
  font-family: Montserrat, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

@media (width >= 768px) {
  .events__title {
    align-self: start;
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 48px;
  }
}

@media (width >= 1280px) {
  .events__title {
    margin-bottom: 56px;
  }
}

.footer {
  color: #0f0e08;
  padding-block: 50px;
}

@media (width >= 768px) {
  .footer {
    padding-top: 51px;
    padding-bottom: 36px;
  }
}

@media (width >= 1280px) {
  .footer {
    padding-top: 47px;
    padding-bottom: 35px;
  }
}

.footer__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 768px) {
  .footer__content {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1280px) {
  .footer__content {
    --columns: 12;
  }
}

.footer__top {
  grid-column: 1 / 3;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media (width >= 768px) {
  .footer__top {
    flex-direction: column;
    grid-column: 1 / 2;
    justify-content: start;
    gap: 62px;
  }
}

.footer__logo {
  color: #0f0e08;
  text-align: center;
  font-family: Montserrat, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  transition: transform .3s;
}

.footer__logo:hover {
  transform: scale(1.1);
}

.footer__social {
  gap: 20px;
  display: flex;
}

.footer__link {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  transition: transform .3s;
}

.footer__link:hover {
  transform: scale(1.2);
}

.footer__link-facebook {
  background-image: url("facebook.bb42021c.png");
}

.footer__link-instagram {
  background-image: url("instagram.9b9529fe.png");
}

.footer__schedule {
  grid-column: 1 / 2;
  margin-top: 40px;
}

@media (width >= 768px) {
  .footer__schedule {
    grid-column: 2 / 4;
    margin-top: 0;
  }
}

@media (width >= 1280px) {
  .footer__schedule {
    grid-column: 3 / 5;
  }
}

.footer__contact-us {
  grid-column: 2 / 3;
  margin-top: 40px;
}

@media (width >= 768px) {
  .footer__contact-us {
    grid-column: 4 / 6;
    margin-top: 0;
  }
}

@media (width >= 1280px) {
  .footer__contact-us {
    grid-column: 5 / 7;
  }
}

.footer__line {
  opacity: .5;
  background-color: #1a5a4c;
  grid-column: 1 / 3;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 40px;
}

@media (width >= 768px) {
  .footer__line {
    grid-column: 2 / 6;
    margin-block: 64px;
  }
}

@media (width >= 1280px) {
  .footer__line {
    grid-column: 7 / 8;
    width: 1px;
    height: 260px;
    margin: 0;
  }
}

.footer__nav-part {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.footer__nav-part--left {
  grid-column: 1 / 2;
}

@media (width >= 768px) {
  .footer__nav-part--left {
    grid-column: 2 / 4;
  }
}

@media (width >= 1280px) {
  .footer__nav-part--left {
    grid-column: 8 / 10;
  }
}

.footer__nav-part--right {
  grid-column: 2 / 3;
}

@media (width >= 768px) {
  .footer__nav-part--right {
    grid-column: 4 / 6;
  }
}

@media (width >= 1280px) {
  .footer__nav-part--right {
    grid-column: 10 / 12;
  }
}

.footer__nav-link {
  color: inherit;
  text-align: left;
  font-family: IBM Plex Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  transition: color .3s;
  display: block;
}

.footer__nav-link:hover {
  color: #f14a27;
}

.footer__copyright {
  text-align: center;
  margin: 0;
  flex-direction: column;
  grid-column: 1 / 3;
  justify-content: space-around;
  margin-top: 80px;
  font-family: IBM Plex Sans, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  display: flex;
}

.footer__copyright--author {
  order: 2;
}

@media (width >= 768px) {
  .footer__copyright {
    flex-direction: row;
    grid-column: 1 / 7;
    justify-content: space-between;
    margin-top: 120px;
  }
}

@media (width >= 1280px) {
  .footer__copyright {
    grid-column: 1 / 13;
    margin-top: 87px;
  }
}

.gallery {
  padding-top: 183px;
  padding-bottom: 100px;
}

@media (width >= 768px) {
  .gallery {
    padding-top: 302px;
    padding-bottom: 200px;
  }
}

@media (width >= 1280px) {
  .gallery {
    padding-top: 208px;
    padding-bottom: 92px;
  }
}

.gallery__title {
  text-align: center;
  color: #0f0e08;
  margin-bottom: 40px;
  padding: 0;
  font-family: Montserrat, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

@media (width >= 768px) {
  .gallery__title {
    text-align: left;
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 48px;
  }
}

@media (width >= 1280px) {
  .gallery__title {
    margin-bottom: 56px;
  }
}

.gallery__dotted {
  margin-top: 20px;
  justify-content: space-between;
  width: 102px;
  height: 9px;
  margin-inline: auto;
  display: flex;
}

@media (width >= 768px) {
  .gallery__dotted {
    margin-top: 32px;
  }
}

@media (width >= 1280px) {
  .gallery__dotted {
    display: none;
  }
}

.gallery__dot {
  background-color: #e0e0e0;
  border-radius: 50%;
  width: 9px;
  height: 9px;
}

.gallery__dot--active {
  background-color: #1a5a4c;
}

.gallery__images {
  justify-content: center;
  margin-inline: auto;
  transition: transform .5s ease-in-out;
  display: flex;
}

@media (width >= 768px) {
  .gallery__images {
    gap: 20px;
  }
}

@media (width >= 1280px) {
  .gallery__images {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 30px 20px;
    display: grid;
  }
}

@media (width >= 1280px) and (width >= 768px) {
  .gallery__images {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1280px) and (width >= 1280px) {
  .gallery__images {
    --columns: 12;
  }
}

.gallery__slider {
  height: 439px;
  position: relative;
}

@media (width >= 768px) {
  .gallery__slider {
    height: 584px;
  }
}

.gallery__switches {
  width: calc(100% - 40px);
  height: 410px;
  display: flex;
  position: absolute;
  left: 20px;
}

@media (width >= 768px) {
  .gallery__switches {
    width: calc(100% - 68px);
    height: 543px;
    left: 34px;
  }
}

@media (width >= 1280px) {
  .gallery__switches {
    display: none;
  }
}

.gallery__switch {
  width: 50%;
  height: 100%;
}

.gallery__switch--left {
  left: 0;
}

.gallery__switch--right {
  bottom: 0;
  right: 0;
}

.gallery__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 410px;
  transition: transform .3s;
  overflow: hidden;
}

@media (width >= 768px) {
  .gallery__image {
    height: 543px;
  }
}

.gallery__image:hover {
  transform: scale(1.1);
}

.gallery__image-additional {
  display: none;
}

@media (width >= 768px) {
  .gallery__image-additional {
    display: block;
  }
}

@media (width >= 1280px) {
  .gallery__image-additional {
    display: none;
  }
}

.gallery__image-0 {
  object-position: top;
  display: none;
}

@media (width >= 1280px) {
  .gallery__image-0 {
    grid-column: 1 / 5;
    height: 600px;
    display: block;
  }
}

.gallery__image-1 {
  display: none;
}

@media (width >= 1280px) {
  .gallery__image-1 {
    grid-column: 5 / 13;
    height: 600px;
    display: block;
  }
}

.gallery__image-2 {
  display: none;
}

@media (width >= 1280px) {
  .gallery__image-2 {
    grid-column: 1 / 9;
    height: 360px;
    display: block;
  }
}

.gallery__image-3 {
  display: none;
}

@media (width >= 1280px) {
  .gallery__image-3 {
    grid-column: 9 / 13;
    height: 360px;
    display: block;
  }
}

.gallery__image--active {
  display: block;
}

.gallery__image--notActive {
  display: none;
}

.header {
  position: relative;
}

@media (width >= 768px) {
  .header {
    justify-content: space-between;
    display: flex;
  }
}

.header__menu {
  background-image: url("icon-menu.a267a292.png");
  background-size: cover;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
  position: absolute;
  top: 27px;
  left: 20px;
}

.header__menu:hover {
  transform: scale(1.2);
}

@media (width >= 768px) {
  .header__menu {
    top: 39px;
    left: 34px;
  }
}

@media (width >= 1280px) {
  .header__menu {
    left: 55px;
  }
}

.header__top {
  background-image: url("header-bg.f9a91618.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
}

@media (width >= 768px) {
  .header__top {
    order: 2;
    height: 384px;
  }
}

@media (width >= 1280px) {
  .header__top {
    height: 655px;
  }
}

.header__logo {
  text-align: center;
  color: #0f0e08;
  margin-top: 9px;
  margin-left: 132px;
  font-family: Montserrat, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  transition: transform .3s;
}

@media (width >= 768px) {
  .header__logo {
    height: 72px;
    margin-top: 15px;
    margin-left: 70px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (width >= 1280px) {
  .header__logo {
    margin-left: 60px;
  }
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__content {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  display: flex;
}

@media (width >= 768px) {
  .header__content {
    align-items: start;
    gap: 38px;
    padding: 127px 20px 0 34px;
  }
}

@media (width >= 1280px) {
  .header__content {
    padding: 206px 30px 89px 55px;
  }
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  width: 280px;
  margin: 0;
  font-family: Montserrat, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

@media (width >= 768px) {
  .header__title {
    text-align: left;
    width: 340px;
    font-size: 54px;
    line-height: 65px;
  }
}

@media (width >= 1280px) {
  .header__title {
    width: 470px;
    font-size: 72px;
    line-height: 86.5px;
  }
}

.header__button {
  box-sizing: border-box;
  border: 1px solid #1a5a4c;
  justify-content: end;
  align-items: center;
  width: 280px;
  height: 50px;
  display: flex;
}

@media (width >= 768px) {
  .header__button {
    width: 270px;
    height: 70px;
  }
}

@media (width >= 1280px) {
  .header__button {
    align-self: end;
  }
}

.header__button-title {
  color: #0f0e08;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-inline: auto;
  font-family: IBM Plex Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__button-link {
  background-color: #1a5a4c;
  background-image: url("vector-white.17a5b8a7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 50px;
  height: 50px;
  transition: background-color .3s;
}

.header__button-link:hover {
  background-color: #368c79;
}

@media (width >= 768px) {
  .header__button-link {
    width: 70px;
    height: 70px;
  }
}

.header__vertical-element {
  display: none;
}

@media (width >= 1280px) {
  .header__vertical-element {
    transform-origin: 0;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    display: flex;
    position: absolute;
    bottom: 0;
    transform: rotate(-90deg);
  }
}

.header__vertical-text {
  text-align: left;
  color: #687480;
  text-transform: uppercase;
  padding-left: 20px;
  font-family: IBM Plex Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.header__vertical-line {
  background-color: #1a5a4c;
  width: 1px;
  height: 70px;
  transform: rotate(90deg);
}

.main {
  margin-top: 70px;
}

@media (width >= 768px) {
  .main {
    margin-top: 88px;
  }
}

@media (width >= 1280px) {
  .main {
    margin-top: 200px;
  }
}

.menu {
  box-sizing: border-box;
  color: #fff;
  background-color: #1a5a4c;
  height: 399px;
  padding-block: 27px;
  position: relative;
}

@media (width >= 768px) {
  .menu {
    height: 225px;
    padding-block: 39px;
  }
}

@media (width >= 1280px) {
  .menu {
    height: 233px;
    padding-bottom: 48px;
  }
}

@media (width >= 768px) {
  .menu__content {
    justify-content: space-evenly;
    display: flex;
  }
}

.menu__nav {
  margin-left: 52px;
}

@media (width >= 768px) {
  .menu__nav {
    margin-left: 62px;
  }
}

@media (width >= 1280px) {
  .menu__nav {
    margin-left: 126px;
  }
}

.menu__close {
  background-image: url("icon-close.6f3ede5c.png");
  background-size: cover;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
  position: absolute;
  top: 27px;
}

.menu__close:hover {
  transform: scale(1.2);
}

@media (width >= 768px) {
  .menu__close {
    top: 39px;
  }
}

.menu__line {
  opacity: .5;
  background-color: #fff;
  width: 100%;
  height: 1px;
  margin-block: 24px;
}

@media (width >= 768px) {
  .menu__line {
    width: 1px;
    height: 145px;
    margin: 0 38px;
  }
}

@media (width >= 1280px) {
  .menu__line {
    margin-inline: 102px;
  }
}

.nav {
  justify-content: space-around;
  gap: 28px;
  height: 72px;
  display: flex;
}

@media (width >= 768px) {
  .nav {
    gap: 20px;
  }
}

@media (width >= 1280px) {
  .nav {
    gap: 40px;
    height: 96px;
  }
}

.nav__part {
  flex-direction: column;
  gap: 24px;
  height: 72px;
  display: flex;
}

@media (width >= 1280px) {
  .nav__part {
    gap: 30px;
    height: 96px;
  }
}

.nav__link {
  width: fit-content;
  max-width: 100px;
  height: 16px;
  color: inherit;
  text-align: left;
  font-family: IBM Plex Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  transition: color .3s;
  display: block;
  position: relative;
}

@media (width >= 1280px) {
  .nav__link {
    max-width: 160px;
    font-size: 22px;
    line-height: 22px;
  }
}

.nav__link:hover {
  color: #0bf7e7;
}

.page {
  scroll-behavior: smooth;
}

.page__body {
  background-color: #fff;
  min-width: 320px;
  margin: 0;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.scrollTop {
  border: 1px solid #1a5a4c;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media (width >= 768px) {
  .scrollTop {
    display: none;
  }
}

.scrollTop__link {
  width: 10px;
  height: 12px;
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  padding-inline: 20px;
}

@media (width >= 768px) {
  .container {
    padding-inline: 34px;
  }
}

@media (width >= 1280px) {
  .container {
    padding-inline: 55px;
  }
}

.schedule__title {
  text-align: left;
  margin: 0;
  font-family: IBM Plex Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.schedule__list {
  margin: 0;
  min-width: 130px;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.schedule__time {
  text-align: left;
  font-family: IBM Plex Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

.schedule__day {
  text-align: left;
  font-family: IBM Plex Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.schedule__description {
  text-align: left;
  min-width: 130px;
  margin: 16px 0 0;
  font-family: IBM Plex Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

@media (width >= 768px) {
  .schedule__description {
    width: 144px;
    margin-top: 20px;
  }
}

@media (width >= 1280px) {
  .schedule__description {
    width: 170px;
  }
}

.schedule__description-stress {
  text-align: left;
  font-family: IBM Plex Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

@media (width >= 768px) {
  .schedule__body {
    gap: 26px;
    display: flex;
  }
}

@media (width >= 1280px) {
  .schedule__body {
    gap: 30px;
  }
}

.schedule__body--footer {
  gap: 0;
  display: block;
}

.subscription {
  box-sizing: border-box;
  color: #fff;
  background-color: #000000bf;
  background-image: url("subscrption-bg-phone.01e50cce.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  height: 386px;
  padding-block: 88px;
  display: flex;
}

@media (width >= 768px) {
  .subscription {
    background-image: url("subscription-bg-tablet.992e8fb6.png");
    height: 380px;
    padding-bottom: 82px;
  }
}

@media (width >= 1280px) {
  .subscription {
    background-image: url("subscription-bg-desktop.3fedd269.png");
    height: 550px;
    padding-block: 163px;
  }
}

.subscription__title {
  text-align: center;
  margin: 0;
  font-family: Montserrat, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

@media (width >= 768px) {
  .subscription__title {
    font-size: 48px;
    line-height: 48px;
  }
}

.subscription__description {
  text-align: center;
  width: 280px;
  margin: 20px 0 50px;
  font-family: IBM Plex Sans, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

@media (width >= 768px) {
  .subscription__description {
    width: 460px;
    margin-top: 16px;
    margin-bottom: 64px;
    line-height: 18px;
  }
}

@media (width >= 1280px) {
  .subscription__description {
    margin-bottom: 72px;
  }
}

.subscription__button {
  box-sizing: border-box;
  align-items: center;
  width: 280px;
  height: 50px;
  display: flex;
}

@media (width >= 768px) {
  .subscription__button {
    gap: 16px;
    width: 460px;
    height: 70px;
  }
}

@media (width >= 1280px) {
  .subscription__button {
    gap: 30px;
    width: 570px;
  }
}

.subscription__input {
  box-sizing: border-box;
  cursor: pointer;
  color: #687480;
  text-align: left;
  padding: 0;
  background: #fff;
  border: none;
  outline: none;
  width: 230px;
  height: 50px;
  padding-left: 24px;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

@media (width >= 768px) {
  .subscription__input {
    width: 374px;
    height: 70px;
    line-height: 70px;
  }
}

@media (width >= 1280px) {
  .subscription__input {
    width: 470px;
    padding-left: 32px;
  }
}

.subscription__input:-webkit-autofill {
  -webkit-text-fill-color: #687480;
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
}

.subscription__submit {
  cursor: pointer;
  background-color: #f14a27;
  background-image: url("vector-black.faacfc72.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  width: 50px;
  height: 50px;
  transition: background-color .3s;
}

.subscription__submit:hover {
  background-color: #a02810;
}

@media (width >= 768px) {
  .subscription__submit {
    width: 70px;
    height: 70px;
  }
}
/*# sourceMappingURL=index.971c2ea4.css.map */
